asgiref==3.3.2
Django==3.2.7
pytz==2021.1
sqlparse==0.4.2
djangorestframework
django-cors-headers
gunicorn
pygments
psycopg2
drf-yasg==1.20.0
pytest-django
pytest-html
pytest-cov
boto3
hiredis
redis
django-redis
django-ninja
celery[redis]